node_modules
.env
.deps
/github-pages

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

cache

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# vitepress
documentation/.vitepress/cache